@model WebApp.ViewModels.Account.ForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
    if (ViewBag.EmailVerificationSent != null && (bool)ViewBag.EmailVerificationSent)
    {
        <script>
            alert("Verification email has been sent. Please check your email inbox.");
        </script>
    }
}

<h1>ForgotPassword</h1>

<h4>ForgotPasswordVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Email</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

